<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FPT Book</title>
    @*Styles.Render("~/Content/css")*@
    @*Scripts.Render("~/bundles/modernizr")*@
    <link href="../Content/indexcss.css" rel="stylesheet" />
    <link href="../Content/slidecss.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <div class="container-top">
            <a href="@Url.Action("Index","Home")">
                <img src="~/Content/images/fptbook logo.png" alt="" class="logo" style="width: 250px; height: 50px;">
            </a>
            @using (Html.BeginForm())
            {
                <div class="search-bar">
                    @Html.TextBox("searchingstring", "", new { @class = "search", type = "text", placeholder = "Search" })
                    @*<input type="search" name="" id="" class="search" placeholder="Search">*@
                    <img src="~/Content/images/search.png" alt="" class="search-btn">
                </div>
            }
                @if (Session["UserName"] != null)
                {
                    <a href="@Url.Action("Index", "Cart")">
                        <img src="~/Content/images/cart.png" alt="" class="cart" style="width: 30px; height: 30px;">
                        (@Session["count"])
                    </a>
                    <div class="signin">
                        <a href="@Url.Action("Log_out", "Account")">
                            <img src="~/Content/images/user.png" alt="" class="sign-in" style="width: 30px; height: 30px;">
                            <p class="cart-lb">
                                @Html.ActionLink($"HI, {Session["UserName"]} ", "Edit_Infor", "Account")
                                @Html.ActionLink("Sign out", "Log_out", "Account", new { area = "" }, new { @class = "cart-lb" })
                            </p>
                        </a>
                    </div>
                }
                else
                {
                    <a href="@Url.Action("Index", "Cart")">
                        <img src="~/Content/images/cart.png" alt="" class="cart" style="width: 30px; height: 30px;">
                        (@Session["count"])
                    </a>
                    <div class="signin">
                        <a href="@Url.Action("Log_in", "Account")">
                            <img src="~/Content/images/user.png" alt="" class="sign-in" style="width: 30px; height: 30px;">
                            <p class="cart-lb">
                                @Html.ActionLink("Sign in", "Log_in", "Account", new { area = "" }, new { @class = "cart-lb" })
                            </p>
                        </a>
                    </div>
                }
            </div>
        <div class="container-down">
            <ul class="menubar">
                <li class="menu-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "menu-item" })</li>

                <li>@Html.ActionLink("Best Sellers", "BestSellers", "Home", new { area = "" }, new { @class = "menu-item" })</li>
                <li>@Html.ActionLink("New Realeases", "NewReleased", "Home", new { area = "" }, new { @class = "menu-item" })</li>
                <li>@Html.ActionLink("Business", "Business", "Home", new { area = "" }, new { @class = "menu-item" })</li>
                <li>@Html.ActionLink("Computing", "Computing", "Home", new { area = "" }, new { @class = "menu-item" })</li>
                <li>@Html.ActionLink("Martketing", "Marketing", "Home", new { area = "" }, new { @class = "menu-item" })</li>
            </ul>
        </div>
    </div>

    @RenderBody()

    <footer>
        <p class="ft-copyright"> &copy; @DateTime.Now.Year Copyright FPT Book</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
